body, .list-buz{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.contenedor {
    column-count: 4; 
    column-gap: 5px; 
    list-style: none;
    padding: 0;
    break-inside: avoid; 
  }

input{
    width: 40%;
    height: 30px;
}

.buton-list{
    width: 20%;
}

.list-buz{
    column-count: 2;
    column-gap: 10px;
}

.imagen{
  width: 100%;
 }  
  
.columna {
   margin-bottom: 10px; 
   break-inside: avoid; 
   padding: 10px;
   border: 1px solid #ccc;
 }
.color-name{
    color: red;
 }

 .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilo para los botones */
.random-color-button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

/* Estilo para el contenido del elemento */
.grid-item h2 {
  margin: 0;
}

/* Agrega estilos para evitar superposiciones */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Agrega colores de fondo aleatorios */
.random-color-button {
  background-color: randomColor();
}

button{
  border-bottom: 1rem;
  border-radius: 20%;
  border-color: red;
  color: blue;
  column-rule-color: blueviolet;
}
/* Función para generar colores aleatorios *

  